<div id="app">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">

        <!-- Collapsed Hamburger -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Branding Image -->
        <a *ngIf="!authService.loginStatus" class="navbar-brand" routerLink="/">
          Chat
        </a>
        <a *ngIf="authService.loginStatus" class="navbar-brand" routerLink="/">
          {{authService.user.email}}
        </a>
      </div>

      <div class="collapse navbar-collapse" id="app-navbar-collapse">
        <!-- Left Side Of Navbar -->
        <ul class="nav navbar-nav">
          <!--<li><a  routerLink="/task"> Task</a></li>-->
          <li><a  routerLink="/chat"> Chat</a></li>

          <li *ngIf="!authService.loginStatus"><a  routerLink="/login"> Login</a></li>
          <li *ngIf="!authService.loginStatus"><a  routerLink="/register"> Sign up</a></li>
          <li *ngIf="authService.loginStatus"><a  (click)="logout()" >Logout</a></li>


        </ul>

        <!-- Right Side Of Navbar -->
      </div>
    </div>
  </nav>
  <div class="container">

    <router-outlet></router-outlet>

  </div>
</div>

